* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  margin: 0;
  font-family: Avenir, Helveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  background-color: #f8f8f8;
}
/* use of * wildcard selector known to be slow so only for demo!  */
body > * {
  padding: 1em;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns:repeat (5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /*grid-gap: 6px; */
  grid-template-areas:
    "header  header"
    "menu    menu";
}


header {
  grid-area: header;
  background: darkred;
  box-shadow: 0px 4px 5px 0px rgba(122,112,122,1);
}
.menu {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.menu2 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
#menu-nav2 {
  grid-area: side;
  box-shadow: -5px 0px 5px 0px rgba(122,112,122,1);
}
nav {
  grid-area: menu;
  margin: 0;
  padding: 0;
  background: darkred;
  box-shadow: 4px 0px 5px 0px rgba(122,112,122,1);
}
nav a {
  text-decoration: none;
  color: black;
}
nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
}
nav li {
  height: 20px;
  width: 100%;
  text-align: center;
  transition: box-shadow 1s;
}
nav ul li a {
  padding: 0;
  margin: 0;
}
nav li:hover {
  box-shadow: inset 0 -100px 0 0 black;
  color: black;
}
nav li:hover a {
  color: darkred;
}
figure {
  grid-area: figure;
  background: darkred;
  margin: 0;
  padding-top: 10px;
  text-align: center;

}
figure img {
  height: 50px;
  width: 50px;
}
main {
  grid-area: content;
  /* increasing the height of one element increases all row heights */
  /*height: 25vh;*/
}
  /* Start of form */
  .main-form {
  width: 100%;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #C2C2C2;
  width: 25%;
  height: 600px;
  padding: 1%;
  box-shadow: 0 5px 20px black;
}
.form {
    width: 400px;
  }
.form_name {
  width: 90%;
}
.email {
  width: 90%;
}
.enquiry {
  width: 90%;
  height: 20%;
  margin: 3%;
}
.button_form {
  width: 20%;
  height: 6%;
  cursor: pointer;
}
@media screen and (min-width: 300px) {
  .grid {
    grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 10vh 50vh 50vh ;
    grid-template-areas:
      "figure header  header"
      "menu  menu  menu  "
      "content content content"
      "content content content"
      "side side side";

  }
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 9fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    /*or set the rows to 'view height (vh)'*/
    grid-template-rows: 10vh 100vh 1vh;
    grid-template-areas:
      "figure  header header"
      "menu  content side"
      "menu  content side";
    }
  }
  nav {
	   justify-content: flex-start;
  }
  nav a {
	   padding: 1em;
  }
input {
  margin: 3%;
  }

/* Home page content */
#searchForm {
  height: auto;
  width: 50%;
}
.wrapper-home {
  height: 100%;
  width: 100%;
}

/* start of home */
ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}
li {
  display: table-row;
}
li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}
img {
  display: table-cell;
  padding-right: 10px;
}
li .txt {
  width: 60%;
  padding-right: 10px;
}
li:nth-child(even) {
  background: #eee;
}
.main-home {
height: 90%;
order: 2;
display: flex;
justify-content: left;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
}
.main-home article {
height: 10vmin;
width: 40vmin;
background-color:black;
border: 1vmin solid black;
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 2px;
}
.home-left {
  width: 40vmin;
  margin: 2px;
}
.main-home section {
margin: .5%;
}
.ole img {
height: 100%;
width: auto;
}
.ole h2 {
color: oldlace;
text-shadow: 2px 2px 2px black;
font-size: 4vmin;
margin: 10%;
}
.goals img {
height: 100% ;
width: auto;
}
.goals h2 {
color: oldlace;
text-shadow: 2px 2px 2px black;
font-size: 2.5vmin;
margin: 10%;
}
.players img {
height: 100%;
width: auto;
}
.players h2 {
color: oldlace;
text-shadow: 2px 2px 2px black;
font-size: 3.5vmin;
margin: 10%;
}

.main-home article:hover {
transform: scale(1.1);
}

.wiki-label {
}

/* End of footer-every page */

/* End of home page content */

  /* accordian faq */
  .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }

    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    /* start of links.html */
.wrapper-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
 .main-contact {
   height: 85%;
   order: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
 }
.main-contact article {
  height: 12vmin;
  width: 50vmin;
  background-color: rgba(51, 51, 51, 0.5);
  border: 1vmin solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5%;
}
.main-contact section {
  margin: 2.5%;
}
.facebook img {
  height: 100%;
  width: auto;
}
.facebook h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4vmin;
  margin: 10%;
}
.gmail img {
  height: 50%;
  width: auto;
  margin-left: 5%;
}
.gmail h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5vmin;
  margin: 10%;
}
.twitter img {
  height: 100%;
  width: auto;
}
.twitter h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3.5vmin;
  margin: 10%;
}
.number img {
  height: 70%;
  width: auto;
  margin-left: 5%;
}
.number h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4vmin;
  margin: 10%;
}
.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_me img {
  height: 70%;
  width: auto;
  margin-left: 5%;
}
.contact_me h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3.5vmin;
  margin: 10%;
}
.main-contact article:hover {
  transform: scale(1.1);
}
/* end of links.html */

/* footer */
footer {
  grid-area: footer;
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  order: 3;
}
footer a {
  color: #9fff80;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 2vmin;
}
.icons {
  display: flex;
  align-items: center;
  height: 100%;
}
i {
  color: white;
  cursor: pointer;
  font-size: 2vmin;
}
i p {
  display: none;
  font-size: 2vmin;
  transition: all 2s;
  margin-left: 1vmin;
}
i:hover {
  color: #9fff80;
}
i:hover p {
  color: #9fff80;
  display: inline-block;
}
.cr {
  display: flex;
  align-items: center;
  margin-right: 10vmin;
  width: 25%;
  height: 100%;
}
